/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}
/* ANIMATIONS */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translate(15px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translate(-15px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* END ANIMATIONS */
/* HEADER */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgb(126, 213, 111, 0.8), rgb(37, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.header__logo {
  height: 35px;
}
.header__content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
.header__title {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
  backface-visibility: hidden;
}
.header__title--sup {
  display: block;
  font-size: 60px;
  letter-spacing: 35px;
  font-weight: 400;
  animation: moveInLeft 1s ease-out;
}
.header__title--sub {
  display: block;
  font-size: 20px;
  letter-spacing: 17.4px;
  animation: moveInRight 1s ease-out;
}
/* END HEADER */
/* BTN */
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 100px;
  transition: transform 0.2s, box-shadow 0.2s;
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
/* END BTN */