$color-lgreen: #7ed56f;
$color-green: #55c57a;
$color-dgreen: #28b485;
$color-white: #fff;
$color-dgrey: #777;
$color-lgrey: #eee;
$color-lgrey-1: #f7f7f7;
$color-black: #000;
$color-yellow: #ffb900;
$color-orange: #ff7730;
$color-blue: #2998ff;
$color-purple: #5643fa;
$color-dgrey-2: #999;

$font-size-default: 1.6rem;

$row-width: 114rem;
$row-gap: 6rem;
