$color-lgreen: #7ed56f;
$color-green: #55c57a;
$color-dgreen: #28b485;
$color-white: #fff;
$color-dgrey: #777;
$color-lgrey: #eee;
$color-lgrey-1: #f7f7f7;
$color-black: #000;

$row-width: 114rem;
$row-gap: 6rem;
