.title {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-lgreen, $color-dgreen);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 2px;
  transition: all .2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.title-secondary {
  font-size: $font-size-default;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: $font-size-default;
  margin-bottom: 3rem;
}