.tour {
  height: 50rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;

  &__side {
    height: 50rem;
    position: absolute;
    width: 100%;
    transition: transform .8s ease;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    
    &--back {
      transform: rotateY(180deg);
    }

    &--front {

    }
    
    &--yellow {
      background-image: linear-gradient(to right bottom, $color-yellow, $color-orange);
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }
}