.navigation {

  &__btn {
    display: inline-block;
    position: fixed;
    width: 7rem;
    height: 7rem;
    top: 6rem;
    right: 6rem;
    z-index: 200;
    background-color: $color-white;
    border-radius: 50%;
  }

  &__bg {
    position: fixed;
    width: 6rem;
    height: 6rem;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-lgreen, $color-dgreen);
    border-radius: 50%;
    z-index: 150;
    transform: scale(80);
  }

  &__nav {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 180;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      display: inline-block;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 230%;
      transition: all .4s;
    }

    &:hover,
    &:active {
      color: $color-green;
      background-position: 100%;
      transform: translateX(1rem);
    }

    span {
      margin-right: 1.5rem;
    }
  }
}