.navigation {

  &__btn {
    display: inline-block;
    position: fixed;
    width: 7rem;
    height: 7rem;
    top: 6rem;
    right: 6rem;
    z-index: 200;
    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    text-align: center;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__checkbox {
    display: none;
  }

  &__bg {
    position: fixed;
    width: 6rem;
    height: 6rem;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-lgreen, $color-dgreen);
    border-radius: 50%;
    z-index: 150;
    transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    position: fixed;
    height: 100vh;
    opacity: 0;
    top: 0;
    left: 0;
    width: 0;
    z-index: 180;
    transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      display: inline-block;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 230%;
      transition: all .4s;
    }

    &:hover,
    &:active {
      color: $color-green;
      background-position: 100%;
      transform: translateX(1rem);
    }

    span {
      margin-right: 1.5rem;
    }
  }

  &__checkbox:checked ~ &__bg {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::after,
    &::before {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: $color-dgrey-3;
      transition: all .2s;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
    }

    &::after { top: .8rem; }
    &::before { top: -.8rem; }
  }

  &__btn:hover &__icon::after {
    top: 1rem;
  }

  &__btn:hover &__icon::before {
    top: -1rem;
  }

  &__checkbox:checked + &__btn &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__btn &__icon::after {
    transform: rotate(135deg);
    top: 0;
  }

  &__checkbox:checked + &__btn &__icon::before {
    transform: rotate(-135deg);
    top: 0;
  }
}